# Stock Visualization
The goal of the notebook is to take a systematic approach to being able take company's stock name and utilizing the Alpha Vantage api to create a series of visualizations and critiques based on the information provided.

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import urllib.request
import json
from pandas.io.json import json_normalize
from APIData import getAPIKey

We're going to start doing some api calls. For the time being i'm listing out the variables needed to make the api calls. Eventually, I'll put it into a class object for easier access

In [50]:
apiKey = getAPIKey()
symbol = 'TSLA'
type = 'TIME_SERIES_DAILY'
dataType = 'csv'

url = f'https://www.alphavantage.co/query?function={type}&symbol={symbol}&apikey={apiKey}'
csvDownload = f'https://www.alphavantage.co/query?function={type}&symbol={symbol}&apikey={apiKey}&datatype={dataType}'
print('Download CSV:', csvDownload)

with urllib.request.urlopen(url) as response:
   html = response.read()
   data = json.loads(html)

stockData = []
stockInfo = pd.DataFrame(data['Time Series (Daily)'])
stockInfo = stockInfo.transpose() 
stockInfo.head()

Download CSV: https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=TSLA&apikey=YZ4TPATE6WB2OHPH&datatype=csv

             1. open   2. high    3. low  4. close 5. volume
2019-06-20  223.0000  226.9000  216.3500  219.6200  11647187
2019-06-19  225.1100  227.7700  221.0600  226.4300   6554688
2019-06-18  228.7200  234.7400  222.5600  224.7400  12715788
2019-06-17  215.4800  227.0000  214.2700  225.0300  12316803
2019-06-14  211.2500  216.6500  210.4000  214.9200   7433402