In [1]:
import pandas as pd
data = pd.read_csv('GSPC.csv')

In [4]:
data.head(30)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2011-01-03,1257.619995,1276.170044,1257.619995,1271.869995,1271.869995,4286670000
1,2011-01-04,1272.949951,1274.119995,1262.660034,1270.199951,1270.199951,4796420000
2,2011-01-05,1268.780029,1277.630005,1265.359985,1276.560059,1276.560059,4764920000
3,2011-01-06,1276.290039,1278.170044,1270.430054,1273.849976,1273.849976,4844100000
4,2011-01-07,1274.410034,1276.829956,1261.699951,1271.500000,1271.500000,4963110000
5,2011-01-10,1270.839966,1271.520020,1262.180054,1269.750000,1269.750000,4036450000
6,2011-01-11,1272.579956,1277.250000,1269.619995,1274.479980,1274.479980,4050750000
7,2011-01-12,1275.650024,1286.869995,1275.650024,1285.959961,1285.959961,4226940000
8,2011-01-13,1285.780029,1286.699951,1280.469971,1283.760010,1283.760010,4310840000
9,2011-01-14,1282.900024,1293.239990,1281.239990,1293.239990,1293.239990,4661590000
10,2011-01-18,1293.219971,1296.060059,1290.160034,1295.020020,1295.020020,5284990000
11,2011-01-19,1294.520020,1294.599976,1278.920044,1281.920044,1281.920044,4743710000
12,2011-01-20,1280.849976,1283.349976,1271.260010,1280.260010,1280.260010,4935320000
13,2011-01-21,1283.630005,1291.209961,1282.069946,1283.349976,1283.349976,4935320000
14,2011-01-24,1283.290039,1291.930054,1282.469971,1290.839966,1290.839966,3902470000
15,2011-01-25,1288.170044,1291.260010,1281.069946,1291.180054,1291.180054,4595380000
16,2011-01-26,1291.969971,1299.739990,1291.969971,1296.630005,1296.630005,4730980000
17,2011-01-27,1297.510010,1301.290039,1294.410034,1299.540039,1299.540039,4309190000
18,2011-01-28,1299.630005,1302.670044,1275.099976,1276.339966,1276.339966,5618630000
19,2011-01-31,1276.500000,1287.170044,1276.500000,1286.119995,1286.119995,4167160000
20,2011-02-01,1289.140015,1308.859985,1289.140015,1307.589966,1307.589966,5164500000
21,2011-02-02,1305.910034,1307.609985,1302.619995,1304.030029,1304.030029,4098260000
22,2011-02-03,1302.770020,1308.599976,1294.829956,1307.099976,1307.099976,4370990000
23,2011-02-04,1307.010010,1311.000000,1301.670044,1310.869995,1310.869995,3925950000
24,2011-02-07,1311.849976,1322.849976,1311.849976,1319.050049,1319.050049,3902270000
25,2011-02-08,1318.760010,1324.869995,1316.030029,1324.569946,1324.569946,3881530000
26,2011-02-09,1322.479980,1324.540039,1314.890015,1320.880005,1320.880005,3922240000
27,2011-02-10,1318.130005,1322.780029,1311.739990,1321.869995,1321.869995,4184610000
28,2011-02-11,1318.660034,1330.790039,1316.079956,1329.150024,1329.150024,4219300000
29,2011-02-14,1328.729980,1332.959961,1326.900024,1332.319946,1332.319946,3567040000

In [5]:
newData = data[(data.Date == '2011-1-12')]